@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Project" asp-action="Index"    class="btn btn-primary">Projects</a>
    <a asp-controller="TeamMember" asp-action="Index" class="btn btn-primary">TeamMember</a>
</div>
